.drop-container {
	top: 2%;
	left: 1%;
	height: 95%;
	width: 98%;
	border-style: dashed;
	border-color: transparent;
	border-width: 2px;
	position: absolute;
	z-index: 2;
}

.dragover {
	border-color: #D6D6D6;
	background-color: #EEEEEE;
}

#visualisations-container {
	top: 5%;
	height: 90%;
	width: 100%;
	position: absolute;
}