.prompt {
	text-align: center;
	font-size: 12pt;
	padding: 5px;
	font-family: sans-serif;
	color: #5C5C5C;
}

#reconstructed-waveform-canvas {
	background-color: #000000;
	height: 150;
	width: 100%;
}

#controls {
	padding: 10px;
	text-align: center;
}

.play-pause-btn, .stop-btn {
	font-size: 14pt;
	margin: 0px 15px 0px 15px;
	height: 35px;
	width: 70px;
}
