.prompt {
	text-align: center;
	font-size: 12pt;
	padding: 5px;
	font-family: sans-serif;
	color: #5C5C5C;
}

.play-pause-btn, .stop-btn {
	font-size: 14pt;
	margin: 0px 15px 0px 15px;
	height: 35px;
	width: 70px;
}