html, body {
	height: 100%;
	margin: 0;
}

#tools-panel {
	float: left;
	height: 100%;
	background-color: #D2D2D2;
	min-width: 85px;
	max-width: 5%;
}

#tools-panel > button {
	margin: 10px;
	height: 55px;
	width: 65px;
	background-color: #FFFFFF;
	border: none transparent;
}

#sound-space {
	float: left;
	width: 80%;
	margin: 0 10px 0 10px;
	border: transparent dashed 2px;
}

/* TODO: find for ways to replace hard px values **/
#canvas-board {    
	border: solid 1px;
	height: 700px;
	width: 100%;
	margin-bottom: 15px;
}

#spectrogram-canvas {
	position: absolute;
	z-index: 0;
	height: inherit;
	width: 80%;
}

#hidden-spectrogram-canvas {
	position: absolute;
	z-index: -1;
	height: inherit;
	width: 80%;
	display: none;	/* comment out to check if scaling is correct */
}

#svg-freq-scale {
	position: absolute;
	z-index: 1;
	height: inherit;
	width: 48px;
}

#svg-time-scale {
	position: absolute;
	top: 670px;
	z-index: 1;
	height: 37px;
	width: 80%;
}

#svg-canvas {
	position: absolute;
	z-index: 2;
	width: 80%;
}

.waveform {
	border: solid 1px;
	height: 107px;
	width: 100%;
	margin: 5px 0 5px 0;
	position: relative;
	z-index: 0;
}

#waveform-canvas {
	height: inherit;
	width: inherit;
}

#spsi-waveform-canvas {
	height: inherit;
	width: inherit;
}

.playback-buttons {
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
}

.playback-buttons > button {
	height: 25px;
	width: 50px;
}

#right-sidebar {
	float: left;
	width: 10%;
	height: 100%;
}

#svg-path-context-menu {
	background-color: #D2D2D2;
	width: 200px;
	position: absolute;
	z-index: 10;
	display: none;
}

#svg-path-context-menu > ul {
	padding: 5px;
	list-style: none;
	margin: 0;
}

#svg-path-context-menu > ul > li  {
	margin: 5px 0 10px 0;
}

#svg-path-context-menu > ul > li > input[type=text] {
	width: 40px;
	text-align: center;
	margin-right: 2px;
}

#copy-button {
	height: 35px;
	width: 100%;
	border: none transparent;
	text-align: left;
	font-size: 18px;
}

#copy-icon {
	height: 25px;
	width: 25px;
	margin: 0 16px 0 13px;
}

#fill-slider {
	width:100%;
	height: 35px;
	border: solid #595959 1.5px;
}